[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
stanza = "*"
pdftotext = "*"
transformers = "*"
sentencepiece = "*"
easynmt = "*"
sacremoses = "*"
openai = "*"
spacy = "*"
streamlit = "*"
pdf-2-ner = {editable = true, path = "."}
beautifulsoup4 = "*"
wget = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "*"
